<%- contentFor('secao') %>
    <div class="table container">
        <h1>Vendas</h1>
        <a href="/venda/criar" class="button create">
            <img src="/images/icons/add_circle_outline_white_24dp.svg" alt="">
            <p>Realizar nova venda</p>
        </a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vendedor</th>
                    <th>Cliente</th>
                    <th>Valor (R$)</th>
                    <th>Data</th>
                    <th class="crud">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <% vendas.forEach(function(venda){%>
                    <tr>
                        <td><%- venda.id %></td>
                        <td><%- venda.vendedor %></td>
                        <td><%- venda.cliente %></td>
                        <td><%- venda.valor %></td>
                        <td><%- venda.data %></td>
                        <td class="crud">
                            <a href="/venda/ver/<%- venda.id %>"><img src="/images/icons/zoom_in_black_24dp.svg"
                                    alt=""></a>
                            <% if(gestor) { %>
                            <a href="/venda/delete/<%- venda.id %>"><img src="/images/icons/clear_black_24dp.svg" alt=""></a>
                            <% } %>
                        </td>
                    </tr>
                    <% }); %>

        </table>
    </div>