<%- contentFor('secao') %>
    <div class="form container">
        <h1><a href="/produto" class="button"><img src="/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Editar <%- produto[0].nome %></h1>
        <form method="POST" action="/produto/editar" enctype="multipart/form-data">
            <span>
                <label for="id">ID:</label>
                <input type="number" id="id" name="id" value="<%- produto[0].id %>" readonly>
            </span>
            <span>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="<%- produto[0].nome %>">
            </span>
            <span>
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" value="<%- produto[0].categoria %>">
            </span>
            <span>
                <label for="estoque">Estoque:</label>
                <input type="number" id="estoque" name="estoque" value="<%- produto[0].estoque %>">
            </span>
            <span>
                <label for="valor">Valor:</label>
                <input type="number" step="0.01" id="valor" name="valor" value="<%- produto[0].preco %>">
            </span>
            <span>
                <label for="imagem">Imagem:</label>
                <input type="file" id="imagem" name="imagem" accept="image/*">
            </span>
            <span>
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="5"
                    cols="40"><%- produto[0].descricao %></textarea>
            </span>
            <span id="buttons">
                <button id="delete" type="submit">Excluir</button>
                <button type="submit">Atualizar</button>
            </span>

        </form>
    </div>