<%- contentFor('secao') %>
    <div class="details container">
        <h1><a href="/produto" class="button"><img src="/images/icons/arrow_back_white_24dp.svg" alt=""></a>  <%- produto[0].nome %>  
        <% if (gestor) { %>
        <a href="/produto/editar/<%- produto[0].id %>"><img src="/images/icons/edit_black_24dp.svg" alt=""></a><a href="/produto/delete/<%- produto[0].id %>"><img src="/images/icons/clear_black_24dp.svg" alt=""></a>
        <% } %>
        </h1>
        <div class="grid-produto">
            <div class="img">
                <img src="/images/produtos/<%- produto[0].filename %>" alt="">
            </div>
            <div class="info">
                <p><b>ID:</b> <%- produto[0].id %></p>
                <p><b>Nome:</b> <%- produto[0].nome %></p>
                <p><b>Preço:</b> <%- produto[0].preco %></p>
                <p><b>Estoque:</b> <%- produto[0].estoque %></p>
                <p><b>Categoria:</b> <%- produto[0].categoria %></p>
            </div>
            <div class="description">
                <p><b>Descrição:</b> <%- produto[0].descricao %></p>
            </div>
        </div>
    </div>
