<%- contentFor('secao') %>
    <div class="perfil container">
        <div class="perfil-1">
            <div class="items-perfil-1">
                <div>
                    <img src="/images/produtos/<%- usuario[0].filename %>" style="max-width: 100%; margin: 0 auto;" alt="">
                </div>
                <div class="items-perfil">
                    <ul>
                        <li class="item-perfil">
                            <%- usuario[0].nome %>
                        </li>
                        <li class="item-perfil secao-perfil" id="dados" style="cursor: pointer; color: white" onclick="arternarVisualizacao('dados')">
                            Dados
                        </li>
                        <li class="item-perfil secao-perfil" id="vendas" style="cursor: pointer;" onclick="arternarVisualizacao('vendas')">
                            Vendas
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="perfil-2 dados">
            <div class="items-perfil-2 item-1">
                <h2>Dados</h2>
                <form method="POST" action="/perfil/vendedor" enctype="multipart/form-data">
                    <div class="info">
                        <p><label>ID: <input type="number" id="id" name="id" value="<%- usuario[0].id %>" readonly></label></p>
                        <p><label>Email: <input type="email" name="email" value="<%- usuario[0].email %>"></label></p>
                        <p><label>Senha: <input type="password" name="senha" value="<%- usuario[0].senha %>"></label></p>
                        <p><label>Nome: <input type="text" name="nome" value="<%- usuario[0].nome %>"></label></p>
                        <p></p><label for="imagem">Imagem: <input type="file" id="imagem" name="imagem" accept="image/*"></label>
                        <p><label>Telefone: <input type="text" name="telefone" value="<%- usuario[0].telefone %>"></label></p>
                        <p><label>Endereço: <input type="text" name="endereco" value="<%- usuario[0].endereco %>"></label></p>
                        <p>
                            <span id="buttons">
                                <button type="submit">Atualizar</button>
                            </span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="perfil-2 vendas" style="display: none">
            <div class="items-perfil-2 item-2">
                <h2>Vendas</h2>
                <div class="info">
                    <p><label>Meta (R$): </label><%- usuario[0].meta_atual %> / <%- usuario[0].meta %></p>

                    <p><b>Últimas vendas:</b></p>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Valor (R$)</th>
                                    <th>Cliente</th>
                                    <th>Data</th>
                                    <th class="crud">Detalhes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% vendas.forEach(function(venda){%>
                                    <tr>
                                        <td><%- venda.valor %></td>
                                        <td><%- venda.cliente %></td>
                                        <td><%- venda.data %></td>
                                        <td class="crud">
                                            <a href="/venda/ver/<%- venda.id %>"><img src="/images/icons/zoom_in_black_24dp.svg" alt=""></a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>  
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script>

        function arternarVisualizacao(secao) {
            var secoes = [...document.getElementsByClassName('perfil-2')];
            var secao_alvo = [...document.getElementsByClassName(secao)];

            var itens_menu = [...document.getElementsByClassName('secao-perfil')];
            var item_alvo = document.getElementById(secao);
            console.log(item_alvo);

            secoes.forEach(s => s.style.display = 'none');
            itens_menu.forEach(i => i.style.color = 'black');

            secao_alvo.forEach(s => s.style.display = 'block');
            item_alvo.style.color = 'white'

        }
    </script>