<%- contentFor('secao') %>
    <div class="form container">
        <h1><a href="/vendedor" class="button"><img src="/images/icons/arrow_back_white_24dp.svg"
                    alt=""></a> Editar <%- vendedor[0].nome %></h1>
        <form method="post" action="/vendedor/editar/post">
            <span>
                <label for="id">ID:</label>
                <input type="number" id="id" name="id" value="<%- vendedor[0].id %>">
            </span>
            <span>
                <label for="meta">Meta (R$):</label>
                <input type="number" step="0.01" id="meta" name="meta" value="<%- vendedor[0].meta %>" required>
            </span>
            <span>
                <label for="meta_atual">Atual (R$):</label>
                <input type="number" step="0.01" id="meta_atual" name="meta_atual" value="<%- vendedor[0].meta_atual %>" required>
            </span>
            <span id="buttons">
                <button id="delete" type="submit">Excluir</button>
                <button type="submit">Atualizar</button>
            </span>
        </form>
    </div>