<%- contentFor('secao') %>
    <div class="table container">
        <h1>Vendedores</h1>
        <a href="/vendedor/criar" class="button create">
            <img src="/images/icons/add_circle_outline_white_24dp.svg" alt="">
            <p>Cadastrar novo vendedor</p>
        </a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Meta (R$)</th>
                    <th>Atual (R$)</th>
                    <th class="crud">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <% vendedores.forEach(function(vendedor){%>
                    <tr>
                        <td><%- vendedor.id %></td>
                        <td><%- vendedor.nome %></td>
                        <td><%- vendedor.meta %></td>
                        <td><%- vendedor.meta_atual %></td>
                        <td class="crud">
                            <a href="/vendedor/ver"><img src="/images/icons/zoom_in_black_24dp.svg"
                                    alt=""></a>
                            <a href="/vendedor/editar"><img src="/images/icons/edit_black_24dp.svg"
                                    alt=""></a>
                            <a href="#"><img src="/images/icons/clear_black_24dp.svg" alt=""></a>
                        </td>
                    </tr>
                    <% }); %>
        </table>
    </div>